<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <!-- URL 재작성 규칙 - React 라우팅을 위해 필요 -->
    <rewrite>
      <rules>
        <rule name="React Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/socket.io" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
        <!-- Socket.IO 경로에 대한 프록시 규칙 추가 -->
        <rule name="Socket.IO Proxy" stopProcessing="true">
          <match url="^socket.io/(.*)" />
          <action type="Rewrite" url="http://localhost:3000/socket.io/{R:1}" />
        </rule>
      </rules>
    </rewrite>
    
    <!-- WebSocket 프로토콜 활성화 -->
    <webSocket enabled="true" />
    <!-- MIME 타입 설정 - 기존 매핑 제거 후 추가 -->
    <staticContent>
      <!-- MIME 타입이 이미 IIS에 등록되어 있으므로 제거 -->
      <!-- 
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
      -->
    </staticContent>
    
    <!-- CORS 설정 - 백엔드 API 서버와의 통신 허용 -->
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type, Authorization" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
